html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
background-color:lightgray;
}
/*navigation section*/
.top-navigation{
	background-color:#fff;
}

.top-navigation .content {
	width:970px;
	height:80px;
	margin:0 auto;
}

.logo{
	height:80px;
}
.top-navigation .links{
	float:right;
	margin-top: 30px;
}

.top-navigation .links li{
	display:inline-block;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	margin-right:25px;


}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover{
color:red;
cursor:pointer;
transition:color .5s;
}
.introduction {
    background-image: url('../images/first-background copy.jpg');
    background-position: center bottom;
ntroduction   background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
.introduction h1,
.introduction h3{
    color:white;
    text-align:center;

}
.introduction h1{
margin-top:17rem;
font-size:50px;

}
.introduction h3{
   font-size:25px;
}


.big-button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    margin: 0 auto;
    display:block;
    margin-top:1em;
}
.big-button:hover{
    background-color:#ff3300;
    cursor:pointer;
}