html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
background-color:white;
font-family: 'Roboto', sans-serif; 
margin-left:-10px;
}
/*navigation section*/
.top-navigation{
	background-color:#fff;
    border-bottom:1px solid lightgray;
    position: fixed;
    width: 100%;
    z-index: 9999;
    margin-top: -10px;
}

.content {
	width:970px;
	height:80px;
	margin:0 auto;
    background-color:#fff;
}

.logo{
	height:80px;
}
.top-navigation .links{
	float:right;
	margin-top: 30px;
}

.top-navigation .links li{
	display:inline-block;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	margin-right:25px;


}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover{
color:red;
cursor:pointer;
transition:color .5s;
}
.introduction {
    background-image: url('../images/first-background copy.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
.introduction h1,
.introduction h3{
    color:white;
    text-align:center;

}
.introduction h1{
margin-top:17rem;
font-size:50px;

}
.introduction h3{
   font-size:25px;
}


.big-button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    margin: 0 auto;
    display:block;
    margin-top:1em;
}
.big-button:hover{
    background-color:#ff3300;
    cursor:pointer;
}
.outro{
    width:970px;
    height:500px;
    background-color:#fff;
    margin:0 auto;
}

.outro img{
    width:22%;
}
.art ul li{
    display:inline;
}
.cases .content{
    margin-top:-26px;
    height:525px;
    border-bottom:1px solid lightgray;
}
.cases h2{
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
    text-align:center;
    padding-top:90px;
}
.content .devices {
    width: 33%;
    display: inline-block;
    /* styles to assist with debugging */
    
    box-sizing: border-box;
    height: 319px;
    padding-left: 96px;
}
.devices img{
    height:127px;
    width:127px;
}
p{
    font-size:25px;
    margin-left: -61px;
}
#special{
    margin-left:-22px;
}
.social .content ul li {

    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
    margin:0 autoS;
}
.icons{
        margin: 0px -44px -2px 347px;
        color:blue;
}
.copy{

margin:0px 0px 0px 395px ;
}
.content h3{
margin: 11px -13px 2px 395px;
    font-size: 29px;
}